[Unit]
Description=ZRAM service
Before=swap.service

[Service]
Type=simple
ExecStart=/bin/sh -c "modprobe zram num_devices=4 ; \
echo 256M > /sys/block/zram0/disksize ; \
echo 256M > /sys/block/zram1/disksize ; \
echo 256M > /sys/block/zram2/disksize ; \
echo 256M > /sys/block/zram3/disksize ; \
/sbin/mkswap /dev/zram0 ; \
/sbin/mkswap /dev/zram1 ; \
/sbin/mkswap /dev/zram2 ; \
/sbin/mkswap /dev/zram3 ; \
swapon -p 10 /dev/zram0 ; \
swapon -p 10 /dev/zram1 ; \
swapon -p 10 /dev/zram2 ; \
swapon -p 10 /dev/zram3 "

[Install]
WantedBy=basic.target
